<%= render 'layouts/navbar' %>
<script>
	$("#nav").addClass('nav-color3');
</script>
<div class="conteiner">


<div class="movie_card" id="bright">
  <div class="info_section">
    <div class="movie_header">
      
      <center><h1>Основна інформація:</h1>
      </center>
    </div>
    <div class="movie_desc">
      <p class="text">
		<b>Nightfall</b> – це онлайн-гра з елементами <b>RPG</b>. 
		У основі гри ідея того, що після заходу сонця університет перетворюється на фантастичний світ, а звичайні пари виходять за рамки реального.  
		Тобто присутній розклад пар -  список лекцій, відвідавши які, <b>Ви розпочнете випробування(квест)</b>.
		За виконання квестів гравець отримує винагороду у вигляді балів(exp) або предметів.
		Бали виступають основною валютою гри, а предмети потрібні для проходження деяких квестів.
		Із активних гравців формуватиметься рейтинг і найкращі отримають винагороду.
      </p>
    </div>
<center><a href="https://www.facebook.com/HYM-Cyber-Spells-758926081112953/" class="button">Facebook</a>
      <a href="https://github.com/Civil21/hym_cyberspells" class="button">Github</a></center>
  </div>
  <div class="blur_back bright_back"></div>
</div>
