<%= render 'layouts/navbar' %>
<script>
	$("#nav").addClass('nav-color3');
</script>
<div class="conteiner">
	<div class="about">
<h3><p>Основна інформація:</p>
<p>Facebook: https://www.facebook.com/HYM-Cyber-Spells-758926081112953/</p>
<p>Посилання на гру: http://138.68.86.16/</p>
<p>GitHub: https://github.com/Civil21/hym_cyberspells</p></h3>

Про гру:
Nightfall – це онлайн гра з елементами RPG. 
В основі гри ідея про те, що після заходу сонця університет перетворюється на фантастичний, а звичайні пари виходять за рамки реального.  
Тобто присутній розклад пар -  список лекцій, відвідавши які Ви розпочнете випробування(квест).
За виконання квестів гравець отримує винагороду у вигляді балів(exp) або предметів.
Бали виступають основною валютою гри.
А предмети потрібні для проходження деяких квестів.
Із активних гравців формуватиметься рейтинг і найкращі отримають винагороду.
</div>
</div>

<div class="movie_card" id="bright">
  <div class="info_section">
    <div class="movie_header">
      
      <h1>Основна інформація:</h1>
      <h4>2017, David Ayer</h4>
    </div>
    <div class="movie_desc">
      <p class="text">
        Про гру:
Nightfall – це онлайн гра з елементами RPG. 
В основі гри ідея про те, що після заходу сонця університет перетворюється на фантастичний, а звичайні пари виходять за рамки реального.  
Тобто присутній розклад пар -  список лекцій, відвідавши які Ви розпочнете випробування(квест).
За виконання квестів гравець отримує винагороду у вигляді балів(exp) або предметів.
Бали виступають основною валютою гри.
А предмети потрібні для проходження деяких квестів.
Із активних гравців формуватиметься рейтинг і найкращі отримають винагороду.
      </p>
    </div>
    <div class="movie_social">
      <ul>
        <li><i class="material-icons">share</i></li>
        <li><i class="material-icons"></i></li>
        <li><i class="material-icons">chat_bubble</i></li>
      </ul>
    </div>
  </div>
  <div class="blur_back bright_back"></div>
</div>
