<section class="strips">
  <article class="strips__strip">
    <%= link_to new_user_session_path do%>
    <div class="strip__content">
      <h1 class="strip__title">Login</h1>
    </div>
    <%end%>
  </article>
  <article class="strips__strip">
    <div class="strip__content">
      <h1 class="strip__title">Games</h1>
    </div>
  </article>
  <article class="strips__strip">
    <div class="strip__content">
      <h1 class="strip__title">Gallery</h1>
    </div>
  </article>
  <article class="strips__strip">
    <%= link_to about_path do%>
    <div class="strip__content">
      <h1 class="strip__title">About</h1>
    </div>
    <%end%>
  </article>

  <article class="strips__strip">
  <a href='https://hackyourmind.in.ua/cyber-spells/'>
    <div class="strip__content">
      <h1 class="strip__title">Contact</h1>
    </div>
    </a>
  </article>
  </section>

