<section class="strips">
  <article class="strips__strip">
    <div class="strip__content">
      <h1 class="strip__title">Register</h1>
    </div>
  </article>
  <article class="strips__strip">
    <div class="strip__content">
      <h1 class="strip__title">Games</h1>
    </div>
  </article>
  <article class="strips__strip">
    <div class="strip__content">
      <h1 class="strip__title">Gallery</h1>
    </div>
  </article>
  <article class="strips__strip">
    <div class="strip__content">
      <%= link_to pages_about_path do%><h1 class="strip__title">About</h1><%end%>
    </div>
  </article>
  <article class="strips__strip">
    <div class="strip__content">
      <h1 class="strip__title">Contact</h1>
    </div>
