<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
     <div class="login100-form-title" style="background-image: url('<%= asset_path('login-bg.jpg') %>');">
    <span class="login100-form-title-1">
        </span>
        </div>
		<div class="col-md-6 col-md-offset-3 login-box">
		<center>
<%=form_for :variants, url:variants_path() do |f|%>
	<%= render 'variants/form', f:f%>
			<%end%>
		</center>
		</div>
    </div>
  </div>
</div>