<div id="live-chat">
		
		<header class="clearfix">

			<h4>Game Log</h4>
			
		</header>

		<div class="chat">
			
			<div class="chat-history">
					
					<%=sanitize @game_log.text%>

			</div> <!-- end chat-history -->

		</div> <!-- end chat -->

	</div> <!-- end live-chat -->