<%= render 'layouts/navbar' %>
<script>
  $("#nav").addClass('nav-color5');
</script>
<section id="user-profile">
  <div class="container">
    <div class="row">
      <h3 class="text-center margin-bottom-lg position-relative">Гравець <%= @player.name %></h3>
      <div class="col-sm-12 col-md-6 col-lg-6 mt-6">
        <center><h4>Інвентар</h4></center>
        
          <% @items.each do |item| %>
          <%= render '/items/item', item:item %> 
          <%end%> 
        </div>
      
      <div class="col-sm-12 col-md-6 col-lg-6 mt-6">
      <div class="stats">
        <center><h4>Титули</h4></center>
          <% @exps.each do |exp| %>
          <%=render '/exps/exp', exp:exp %>
          <%end%> 
        </div>
      </div>
      </div>
    </div>
  </div>
</section>