<div class="col-sm-6 col-md-3 col-lg-2 mt-4">
    <center>   
        <div class="element-card">
          	<div class="front-facing" style="background: white;">
            	<%= image_tag item.image.url(:thumb)%>
          	</div>
          	<div class="back-facing">
            	<p class="title" style="font-size: 24px">
              		<%= item.name %>
            	</p>
          	</div>
        </div>
    </center>
</div>