<%= render 'layouts/navbar' %>
<div class="container">
    <div class="row">

 	 <% @items.each do |item| %>
          <div class="col-sm-6 col-md-3 col-lg-2 mt-4"><center>
          <div class="element-card" style="background-image: url('<%= asset_path('login-bg.jpg') %>');">
            <div class="front-facing">
              <h1 class="abr">A</h1>
             </div>
             <div class="back-facing">
              <p class="title" style="font-size: 24px"><%= item.name %></p>
             </div>
            </div>
             </center></div>
          <%end%> 
    </div>
</div>
 <script>
  	$("#nav").addClass('nav-color2');
	$(document).ready(function(){
	
	$('.element-card').on('click', function(){
		
		if ( $(this).hasClass('open') ) {
			$(this).removeClass('open');
		} else {
			$('.element-card').removeClass('open');
			$(this).addClass('open');
		}
		
	});
	
});
</script>