<div class="col-sm-6 col-md-4 col-lg-4 mt-4">
	<center>
        <div class="element-card">
            <div class="front-facing" style="background: white">
            	<p style="font-size: 24px">
            		Title
            	</p>
            </div>
            <div class="back-facing">
            	<p class="title" style="font-size: 24px">
            		<%= exp.name %>
            	</p>
            </div>
        </div>
    </center>
</div>