<%= render 'layouts/navbar' %>
 <div class="container">
<br>
 	<% @locations.each do |location| %>
 	<div class="col-sm-6 col-md-4 col-lg-3 mt-4"> 
 		<%= link_to location_path(location.name) do%>
 		<div class="cardcub">
		<p class="title"><%=location.name%></p>
		</div>
		<%end%>
	</div>
 	<%end%>	
 </div>